version: '3.8'

services:
	prometheus:
        image: prom/prometheus:latest
		network_mode: host
        volumes:
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
        ports:
            - '9090:9090'